<h2>Посты</h2>

<form action="/new" method="POST">

   	<textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Введите текст"></textarea>
  	<br />
  	<button type="submit" class="btn btn-primary">Submit</button>

</form>